/* UploadROCratePage.css */

.upload-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 0 0 auto;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto; /* Adjusted margin */
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 20px;
  color: #555;
}

.footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: absolute; /* Ensure footer sticks to bottom */
  bottom: 0;
}
